body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  cursor: pointer;
}

.messages-list {
  overflow-y: auto;
  max-height: 90vh;
}

textarea.form-control {
  resize: none;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.landing-title {
  text-align: center;
  font-weight: 600;
  max-width: 630px;
  margin: 0 auto 64px;
}

.landing-title > svg {
  margin-left: 8px;
  width: 32px;
  height: 32px;
}